@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
:root {
  --clr-dark-red: #ce1b28;
  --clr-dark-red-hover: hsl(356, 77%, 80%);
  --clr-white: #fff;
  --clr-gray: #777777;
  --clr-dark: #282828;
  --font-family: "Fira Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-white);
  font-family: var(--font-family);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.container-fluid {
  width: min(95%, 1400px);
  margin: 0 auto;
}

button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.logo-image {
  width: 5rem;
  height: 3rem;
  object-fit: contain;
}

.primary-header .container-fluid {
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
}

.menu-btn,
.close-menu {
  display: none;
  color: var(--clr-gray);
  font-size: 2rem;
}

@media (max-width: 48em) {
  .menu-btn {
    position: absolute;
    z-index: 9999;
    top: 1rem;
    right: 2rem;
  }
  .menu-btn {
    display: block;
  }
}
.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  background-color: var(--clr-dark-red);
  padding: 0.5rem 1.3rem;
}
@media (max-width: 48em) {
  .primary-navigation {
    gap: 1.5rem;
    position: fixed;
    z-index: 999;
    inset: 0 0 0 30%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    background: var(--clr-white);
    background: black;
    padding: min(10vh, 5rem) 2em;
    align-items: flex-start;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 200ms ease-out;
  }
}
.primary-navigation[data-visible=true] {
  transform: translateX(0);
}
.primary-navigation a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--clr-gray);
  transition: color 0.25s ease;
}
.primary-navigation a.active {
  color: var(--clr-dark-red-hover);
  color: lightgray;
}
@media (hover: hover) {
  .primary-navigation a:hover {
    color: var(--clr-dark-red-hover);
    color: lightgray;
  }
}
@media (min-width: 48em) {
  .primary-navigation a {
    color: var(--clr-white);
    font-size: 0.875rem;
  }
}

.banner {
  min-height: calc(100vh - 1.8rem);
  background: lightgray;
}

.about .lead {
  font-size: 1.2rem;
  color: var(--clr-gray);
}
.about p {
  color: var(--clr-dark);
  line-height: 1.4;
}
.about img {
  width: 100%;
  height: 400px;
  display: block;
  margin: 0 auto;
}

.projects h5 {
  color: #000;
  font-weight: 700;
}
.projects p {
  color: var(--clr-gray);
}
.projects img {
  height: 300px;
  object-fit: cover;
}

.past-projects h2 {
  color: var(--clr-dark-red);
}
.past-projects table,
.past-projects table th,
.past-projects td {
  border: 1px solid lightgray;
  text-align: center;
}
.past-projects td {
  padding: 0.8rem;
}

.contact form,
.contact .address .row {
  max-width: 500px;
  margin: 0 auto;
}
.contact .row p {
  font-size: 1rem;
}
.contact .icon {
  font-size: 1.5rem;
  color: var(--clr-dark-red);
}

.services .cta {
  text-decoration: none;
  text-transform: capitalize;
  gap: 0.3rem;
  background: var(--clr-dark-red);
  width: max-content;
  color: var(--clr-white);
  padding: 0.5rem 1rem;
  transition: color 0.25s ease;
}
@media (hover: hover) {
  .services .cta:hover {
    background: hsl(356deg, 77%, 50%);
  }
}
.services p {
  color: var(--clr-gray);
}
.services .mission p {
  max-width: 500px;
}

.products h3 {
  color: var(--clr-dark-red);
  margin-bottom: 0.5rem;
}
.products .grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.products .grid > * {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.products .grid img {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.footer {
  background: black;
  color: var(--clr-gray);
  padding: 3rem 0;
  position: relative;
}
.footer .container-fluid {
  flex-direction: column;
  align-items: center;
}
.footer .address > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.footer .address > div a {
  color: inherit;
}
.footer .address span {
  line-height: 1.2;
}
.footer .address i {
  font-size: 1.2rem;
}
@media (min-width: 50em) {
  .footer .container-fluid {
    flex-direction: row;
    justify-content: space-around;
    gap: 5rem;
  }
  .footer .address > div {
    justify-content: flex-start;
    gap: 0.5rem;
  }
}
.footer .socials-list {
  justify-content: center;
  gap: 0.5rem;
}
.footer .socials-list li {
  padding: 0.3rem 0.8rem;
  background: var(--clr-dark);
}
@media (hover: hover) {
  .footer .socials-list li.twitter:hover {
    background-color: #10c0ee;
  }
  .footer .socials-list li.facebook:hover {
    background-color: #3b5998;
  }
  .footer .socials-list li.linkedin:hover {
    background-color: #006e99;
  }
  .footer .socials-list li.whatsapp:hover {
    background-color: #2db742;
  }
}
.footer .socials-list a {
  font-size: 1.2rem;
  color: var(--clr-white);
}
.footer .copyright-text {
  font-size: 0.9rem;
  word-spacing: 3px;
  text-align: center;
}
.footer .scroll-to-top {
  border: 1px solid var(--clr-gray);
  width: max-content;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  padding: 0.5rem 0.8rem;
}
.footer .scroll-to-top a {
  color: inherit;
}/*# sourceMappingURL=style.css.map */