@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

:root {
  --clr-dark-red: #ce1b28;
  --clr-dark-red-hover: hsl(356, 77%, 80%);
  --clr-white: #fff;
  --clr-gray: #777777;
  --clr-dark: #282828;

  --font-family: "Fira Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-white);
  font-family: var(--font-family);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.container-fluid {
  width: min(95%, 1400px);
  margin: 0 auto;
  // background: tomato;
}

button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.logo-image {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
}
