.footer {
  background: black;
  color: var(--clr-gray);
  padding: 3rem 0;
  position: relative;

  .container-fluid {
    flex-direction: column;
    align-items: center;
  }

  .address > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    a {
      color: inherit;
    }
  }

  .address span {
    line-height: 1.2;
  }

  .address i {
    font-size: 1.2rem;
  }

  @media (min-width: 50em) {
    .container-fluid {
      flex-direction: row;
      justify-content: space-around;
      gap: 5rem;
    }

    .address > div {
      justify-content: flex-start;
      gap: 0.5rem;
    }
  }

  .socials-list {
    justify-content: center;
    gap: 0.5rem;

    li {
      padding: 0.3rem 0.8rem;
      background: var(--clr-dark);

      @media (hover: hover) {
        &.twitter:hover {
          background-color: #10c0ee;
        }
        &.facebook:hover {
          background-color: #3b5998;
        }
        &.linkedin:hover {
          background-color: #006e99;
        }
        &.whatsapp:hover {
          background-color: #2db742;
        }
      }
    }
  }

  .socials-list a {
    font-size: 1.2rem;
    color: var(--clr-white);
  }

  .copyright-text {
    font-size: 0.9rem;
    word-spacing: 3px;
    text-align: center;
  }

  .scroll-to-top {
    border: 1px solid var(--clr-gray);
    width: max-content;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    padding: 0.5rem 0.8rem;

    a {
      color: inherit;
    }
  }
}
